---
import Head from "../components/Head.astro"
import Footer from "../components/Footer.astro"
import Resume from "../components/Resume.astro"
import NavBar from "../components/NavBar.astro"

---
<html lang="en">
	<Head title="My Career - Simon Lomax" />
	<body>
		<NavBar activePage="career"/>
        <Resume />
		<Footer />

		<script src="/src/js/timeline.js"></script>
	</body>
</html>