---
import "../styles/hero.css"
---


<section class="hero-section">
    <div id="hero-canvas"></div>
    <div class="hero-content">
        <h1 class="hero-title"><span class="highlight">Hello!</span> I'm Simon</h1>
        <h2 class="hero-subtitle">Software Engineer | Hobbyist Game Developer | Tech Nerd</h2>
        <p class="hero-description">
            When I'm not working I love playing and making video games, tinkering with tech and 3D Printing my way out of a hole
        </p>
        <div class="hero-cta">
            <a href="/blog" class="btn btn-primary">View Blog</a>
            <a href="/career" class="btn btn-outline">My Career</a>
        </div>
    </div>
    <div class="hero-scroll-indicator">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/three@0.132.2/build/three.min.js"></script>
<script src="../js/hero.js"></script>