---
import "../styles/space.css"
---

<section class="space-section">
    <div class="space-content">

    </div>
    <div class="space-canvas"></div>
</section>
<script src="https://unpkg.com/three@0.132.2/build/three.min.js"></script>
<script src="../js/space.js"></script>